<div class="row">
    <div class="col-12">
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h4 class="m-3" style="font-weight: 700;">Ko'rib chiqilgan so'rovnomalar</h4>
      </div>
  
      <div class="card m-b-30">
        <div class="card-body" style="overflow-x: scroll;">
          <table id="datatable" class="table table-bordered text-center" style="border-collapse: collapse; border-spacing: 0; width: 100%" >
            <thead>
              <tr>
                <th>Foydalanuvchi</th>
                <th>Telefon raqami</th>
                <th>Yaratilgan sanasi</th>
                <th style="width: 15%">Sozlamalar</th>
              </tr>
            </thead>
  
            <tbody>
              <% for(let item of result) {%>
              <tr>
                <td><%= item.username.name %></td>
                <td><%= item.phone %></td>
                <td><%= moment(item.date).format("DD-MM-YYYY - hh:mm:ss") %></td>
                <td style=" display: flex; flex-direction: row; justify-content: space-around; align-items: center;" >
                  <a class="btn btn-success" href="<%=`/contact/info/${item._id}`%>">
                      <i class="fa fa-eye"></i>
                  </a>
                  <a class="btn btn-warning" href="<%=`/contact/get_course/${item._id}`%>">
                    <i class="fas fa-bell"></i>
                </a>
                  <form method="POST" class="hidden-r" action="<%=`/contact/${item._id}?_method=DELETE`%>" >
                    <button type="submit" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </form>

                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  
