<div class="pt-3 pb-3 pl-3">
    <h4>Xodimni tahrirlash</h4>
</div>

<div class="row">
    <div class="col-md-12 mt-3"
        style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
        <form method="POST" action="<%=`/team/${result._id}?_method=PUT`%>" class="col-md-8">
            <div class="mb-3">
                <label>Ism-familiyasi</label>
                <input type="text" class="form-control" value="<%= result.name %>" name="name" />
            </div>
            <div class="mt-3">
                <label>Lavozimi</label>
                <input type="text" class="form-control" value="<%= result.position %>" name="position" />
            </div>
            <div class="mt-3">
                <label>Xodim haqida</label>
                <textarea class="form-control" name="description" cols="30"
                    rows="10"><%= result.description %></textarea>
            </div>
            <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
        </form>


        <form method="POST" action="<%=`/team/update/${result._id}?_method=PUT`%>" ref="uploadForm"
            encType="multipart/form-data" class="col-md-4 mt-3">
            <div class="mb-3">
                <label>Rasmni tahrirlash</label>
                <img class="col" src="/uploads/team/<%= result.image %>" name="image">
            </div>
            <input name="image" type="file" multiple> <br>

            <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
        </form>
    </div>
</div>
