

<div class="slider_auto">
  <div class="slide_prev">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="slide_next">
    <i class="fa fa-angle-right"></i>
  </div>
  <div class="owl-carousel slide_carousel">
    <div class="item">
      <div class="opac"></div>
      <img class="slide_img" src="/website/img/carousel1.png" alt="" />
      <div class="text">
        <span>
          <h1>Kelajak.biz</h1>
          <h2>Ingliz tili kurslari</h2>
        </span>

        <div class="info-video-btn-s">
          <a href="/course" class="courses">Kurslar</a>
          <span class="info-video-s">
            <div class="btn-s">
              <div class="icon-play">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  id="Capa_1" x="0px" y="0px" width="163.861px" height="163.861px" viewBox="0 0 163.861 163.861"
                  style="enable-background: new 0 0 163.861 163.861" xml:space="preserve">
                  <g>
                    <path
                      d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z" />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
            </div>
            <span>Videoni ko'rish</span>
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="opac"></div>
      <img class="slide_img" src="/website/img/cours-carousel.png" alt="" />
      <div class="text">
        <span>
          <h1>Kelajak.biz</h1>
          <h2>Ingliz tili kurslari</h2>
        </span>

        <div class="info-video-btn-s">
          <a href="/course" class="courses">Kurslar</a>
          <span class="info-video-s">
            <div class="btn-s">
              <div class="icon-play">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  id="Capa_1" x="0px" y="0px" width="163.861px" height="163.861px" viewBox="0 0 163.861 163.861"
                  style="enable-background: new 0 0 163.861 163.861" xml:space="preserve">
                  <g>
                    <path
                      d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z" />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
            </div>
            <span>Videoni ko'rish</span>
          </span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="opac"></div>
      <img class="slide_img" src="/website/img/childrens.png" alt="" />
      <div class="text">
        <span>
          <h1>Kelajak.biz</h1>
          <h2>Ingliz tili kurslari</h2>
        </span>

        <div class="info-video-btn-s">
          <a href="/course" class="courses">Kurslar</a>
          <span class="info-video-s">
            <div class="btn-s">
              <div class="icon-play">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  id="Capa_1" x="0px" y="0px" width="163.861px" height="163.861px" viewBox="0 0 163.861 163.861"
                  style="enable-background: new 0 0 163.861 163.861" xml:space="preserve">
                  <g>
                    <path
                      d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275   c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z" />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
            </div>
            <span>Videoni ko'rish</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------------------------- count -->
<div class="count">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="left">
          <img src="/website/img/count_icon1.png" alt="" />
        </div>
        <div class="right">
          <h5>
            <%= count_Pupil %>
          </h5>
          <h6>O`quvchilar</h6>
        </div>
      </div>
      <div class="col-4">
        <div class="left">
          <img src="/website/img/count_icon2.png" alt="" />
        </div>
        <div class="right">
          <h5>
            <%= count_Course %>
          </h5>
          <h6>Kurslar</h6>
        </div>
      </div>
      <div class="col-4">
        <div class="left">
          <img src="/website/img/count_icon3.png" alt="" />
        </div>
        <div class="right">
          <h5>
            <%= test_ALL_count %>
          </h5>
          <h6>Testlar</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============= Chet elda Ta'lim olish ================= -->

<div class="carousel_mnogo">
  <div class="container">
    <div class="top">
      <div class="border_bottom">
        <b>Chet elda Ta'lim olish</b>
      </div>
    </div>
    <p class="select_country_header">Davlatni tanlab ustiga bosing.</p>
    <div class="carousel_our_teacher">
      <div class="abs1">
        <div class="owl_next2 next31">
          <img src="/website/img/car_next.png" alt="">
        </div>
      </div>

      <!-- Bu yerda Davlatlar bo'lishi kerak -->
    </div>
  </div>
</div>
<!-- ------------------- reklama -->
<!-- <div class="free-reklama">
  <div class="owl-carousel reklama5">
    <div class="item">
      <div class="reklama5-img">
        <img src="/website/img/student-1.jpg" alt="">
      </div>
    </div>

    <div class="item">
      <div class="reklama5-img">
        <img src="/website/img/student-1.jpg" alt="">
      </div>
    </div>

    <div class="item">
      <div class="reklama5-img">
        <img src="/website/img/student-1.jpg" alt="">
      </div>
    </div>
    
  </div>
</div> -->
<!---------------------------------------------- Carousel courses -->
<div class="cours">
  <div class="container">
    <div class="top">
      <div class="border_bottom">
        <b>Kurslar</b>
      </div>
    </div>
    <div class="col-md-12 right">
      <div class="owl-carousel cours-carousel1 ">
        <% for(let key of Courses) { %>
          <div class="item">
            <div class="img">
              <img src="/uploads/course/<%= key.image %>" alt="">
              <div class="hov"></div>
              <!-- <div class="lan">Til kurslari</div> -->
            </div>
            <div class="item_text">
              <div class="b"><b>
                  <%= key.title %>
                </b></div>
              <p>
                <%= key.author_name %>
              </p>
              <div class="reyting">
                <span>
                  <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </span>
                  <i class="fa fa-star no-active"></i>
                </span>
                <h6>4</h6>
                <h5>(51)</h5>
              </div>
              <div class="narx">
                <h4>
                  <%= key.price %> so'm
                </h4>
                <a href="/filter/filter_section_of_course/<%= key._id  %> ">Batafsil</a>
              </div>
            </div>
          </div>
          <%}%>
      </div>
    </div>
  </div>
</div>

<!-- tavsiya -->

<div class="cours_one">
  <div class="container">
    <div class="top">
      <div class="border_bottom">
        <b>Eng ko'p ko'rilgan kurslar</b>
      </div>
    </div>

    <div class="carousel">
      <div class="abs1">
        <div class="owl_next2 next2">
          <img src="/website/img/car_next.png" alt="" />
        </div>
      </div>
      <div class="owl-carousel carus5">
        <% for(let item of Courses) { %>
          <div class="item">
            <div class="row">
              <div class="col-5">
                <div class="left">
                  <!-- <div class="cheg"> 
                    <b>Chegirma</b>
                  </div> -->
                  <img src="/uploads/course/<%= item.image %>" alt="" />
                </div>
              </div>
              <div class="col-7 right">
                <h1>
                  <%= item.title %>
                </h1>
                <h2>
                  <%= item.author_name %>
                </h2>
                <div class="rat">
                  <div class="yashil">
                    <b class="first">Til kurslari</b>
                  </div>
                  <span>
                    <i class="fa fa-star rating"></i>
                    <i class="fa fa-star rating"></i>
                    <i class="fa fa-star rating"></i>
                    <i class="fa fa-star rating"></i>
                    <i class="fa fa-star"></i>
                    <b class="second">4</b>
                  </span>
                  <h3>(51)</h3>
                </div>
                <p>
                  <!-- Bu kursda siz frontendning boshlang'ich kursi HTML5 va CSS3
                  texnologiyalarini o'rganasiz. -->
                </p>
                <span class="register">
                  <b>Sotib olish</b>
                </span>
                <div class="bottom">
                  <h4>
                    <%= item.price %> so’m
                  </h4>
                  <!-- <h5>400 000 so’m</h5> -->
                </div>
              </div>
            </div>
          </div>
          <%}%>
      </div>
    </div>
  </div>
</div>

<div class="childrens">
  <div class="pos"></div>
  <div class="rel">
    <h1>O’Z KELAJAGINGNI BIZ BILAN YARAT!</h1>
    <p>
      Qimmatbaho vaqtingni bekorga sarflama hoziroq bilim olishni boshla
    </p>
  </div>
</div>

<div class="carousel_mnogo">
  <div class="container">
    <div class="top">
      <div class="border_bottom">
        <b>Bizning jamoa</b>
      </div>
    </div>
    <div class="carousel_our_teacher">
      <div class="abs1">
        <div class="owl_next2 next31">
          <img src="/website/img/car_next.png" alt="">
        </div>
      </div>
      <div class="owl-carousel carus_mnogo mnogo31">
        <% for(let team of teamAll) { %>
          <div class="item">
            <div class="img-our">
              <img src="/uploads/team/<%= team.image %>" alt="" />
            </div>
            <h1 class="our-header">
              <%= team.name %>
            </h1>
            <h2>
              <%= team.position %>
            </h2>
            <p>
              <%= team.description %>
            </p>
          </div>
          <%}%>
      </div>
    </div>
  </div>
</div>


<div class="carousel_mnogo">
  <div class="container">
    <div class="top">
      <div class="border_bottom">
        <b>Bizning hamkorlarimiz</b>
      </div>
    </div>
    <div class="carousel_our_teacher">
      <div class="abs1">
        <div class="owl_next2 next31">
          <img src="/website/img/car_next.png" alt="">
        </div>
      </div>
      <div class="owl-carousel carus_mnogo mnogo31">
        <% for(let brand of brandAll) { %>
          <div class="item">
            <div class="img-our">
              <img src="/uploads/brand/<%= brand.image %>" alt="" />
            </div>
            <h1 class="our-header">
              <%= brand.name %>
            </h1>
          </div>
          <%}%>
      </div>
    </div>
  </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/axios.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->

<script>
  

  axios.get("/universitet/filter/")
</script>